<include file="public:header"/>
<div class="instructions">
        <p>1.红包发放金额最小为1元，当除去服务费后小于1元时，按1元发放，不收取服务费。</p>
        <p>2.微信限制每个用户每天最多可发放10次，可以在【微信商户平台--账户中心--API安全进行设置】。</p>
        <p>3.给同一个用户发放红包时间间隔不得低于15秒。</p>
        <p>4.发放红包需要微信支付双向证书，请到【微信商户平台--账户中心--API安全】下载证书，并上传至data/cert目录。</p>

        <p>黑名单：</p>
        <p>1.可将指定uid的会员加入黑名单。</p>
        <p>2.黑名单中的个人用户无法领取红包。</p>

        <p>发放失败列表：</p>
        <p>1.当红包无法正常发放时，如微信商户余额不足、curl出错、支付参数错误等，系统将记录发放失败原因，管理员可根据不同情况选择【重新发放】。</p>

        <p>通知：</p>
        <p>1.如需开启短信通知，请先到系统-短信设置中配置短信参数。</p>
        <p>2.如需开启微信通知，必须预先安装【微信模块】，并且到系统-微信公众平台中配置微信参数。</p>
    </div>
</div>
<include file="public:footer"/>
</body>
</html>