<include file="public:header"/>
    <div class="list_th">
        <div class="td" style=" width:10%;">
            <label id="chkAll" class="left_padding">
                模板名称
            </label>
        </div>
        <div class="td center" style=" width:10%;">缩略图</div>
        <div class="td center" style=" width:25%;">公司名称</div>
        <div class="td center" style=" width:10%;">用户名</div>
        <div class="td center" style=" width:15%;">版本</div>
        <div class="td center" style=" width:15%;">作者</div>
        <div class="td" style=" width:15%;">操作</div>
        <div class="clear"></div>
    </div>
    <volist name="list" id="vo">
        <div class="list_tr link_black" style="height:136px;line-height:136px;">
            <div class="td" style=" width:10%;">
                <div class="left_padding striking">
                    {$vo['templates']['name']}
                </div>
            </div>
            <div class="td center" style=" width:10%;"><img src="{$vo.templates.thumb_dir}/thumbnail.jpg" alt="{$vo.templates.name}" width="225" height="136" border="1"  style="border: #CCCCCC;" /></div>
            <div class="td center" style=" width:25%;"><a href="{$vo['company_url']}" target="_blank">{$vo['companyname']}</a> </div>
            <div class="td center" style=" width:10%;">{$vo['username']}</div>
            <div class="td center" style=" width:15%;">{$vo.templates.version}</div>
            <div class="td center" style=" width:15%;">{$vo.templates.author}</div>
            <div class="td edit" style=" width:15%;">
                <a href="{:U('edit',array('uid'=>$vo['uid'],'_k_v'=>$vo['id']))}">编辑</a>
            </div>
            <div class="clear"></div>
        </div>
    </volist>

<empty name="list">
    <div class="list_empty">没有任何信息！</div>
</empty>

<div class="list_foot">
    <div class="btnbox">
    </div>

    <div class="footso">
        <form action="?" method="get">
            <div class="sobox">
                <input type="hidden" name="m" value="{:C('admin_alias')}">
                <input type="hidden" name="c" value="{:CONTROLLER_NAME}">
                <input type="hidden" name="a" value="{:ACTION_NAME}">
                <input name="key" type="text" class="sinput" value="{$Think.get.key}"/>
                <input name="key_type" id="J_key_type_id" type="hidden" value="{$Think.get.key_type|default='1'}" />
                <input name="key_type_cn" id="J_key_type_cn" type="hidden" value="{$Think.get.key_type_cn|default='公司名'}"/>
                <input name="" type="submit" value="" class="sobtn"/>
                <div class="sotype" id="J_key_click">{$Think.get.key_type_cn|default='公司名'}</div>
                <div class="mlist" id="J_mlist">
                    <ul>
                        <li id="1" title="公司名">公司名</li>
                        <li id="2" title="公司ID">公司ID</li>
                        <li id="3" title="会员名">会员名</li>
                        <li id="4" title="会员ID">会员ID</li>
                        <li id="5" title="地址">地址</li>
                        <li id="6" title="电话">电话</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="pages">{$page}</div>

</div>
<include file="public:footer"/>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        $(".J_message").click(function () {
            $('.modal_backdrop').remove();
            $('.modal').remove();
            var qsDialog = $(this).dialog({
                title: '发消息',
                loading: true,
                footer : false
            });
            var param = $(this).attr('parameter');
            var url = "{:U('Ajax/ajax_message')}&" + param;
            $.getJSON(url, function (result) {
                qsDialog.setContent(result.data);
            });
        });
        //审核日志
        $(".J_setmeal_log").click(function () {
            var qsDialog = $(this).dialog({
                title: '套餐日志',
                loading: true,
                footer : false
            });
            var param = $(this).attr('parameter');
            var url = "{:U('Ajax/audit_log')}&" + param;
            $.getJSON(url, function (result) {
                qsDialog.setContent(result.data);
            });
        });
        //套餐详情
        $(".setmeal_detail").click(function () {
            var qsDialog = $(this).dialog({
                title: '套餐详情',
                loading: true,
                footer : false
            });
            var param = $(this).attr('parameter');
            var url = "{:U('Ajax/setmeal_detail')}&" + param;
            $.getJSON(url, function (result) {
                qsDialog.setContent(result.data);
            });
        });
    });
</script>
</html>