<include file="public:header"/>

<div class="toptit">修改分类</div>
<form action="{:U('edit')}" method="post" name="FormData">
    <div class="form_main width120">
        <div class="fl">名称:</div>
        <div class="fr">
            <input name="c_name" type="text" class="input_text_default middle" maxlength="20" value="{$info.c_name}"/>
        </div>
        <div class="fl">排序:</div>
        <div class="fr">
            <input name="c_order" type="text" class="input_text_default middle" maxlength="3" value="{$info.c_order}" onkeyup="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');"onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))" placeholder="数字越大越靠前，默认是0"/>
            <label class="no-fl-note">(数字越大越靠前)</label>
        </div>
        <div class="fl"></div>
        <div class="fr">
            <input name="c_id" type="hidden" value="{$info.c_id}" />
            <input name="c_alias" type="hidden" value="{$info.c_alias}" />
            <input type="submit" class="admin_submit" value="保存"/>
            <input type="button" class="admin_submit" value="返回" onClick="window.location='{:U('show_category',array('alias'=>$info['c_alias']))}'"/>
        </div>
        <div class="clear"></div>
    </div>
</form>

</div>
<include file="public:footer"/>
</body>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
</html>