<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<qscms:explain_show 列表名="info" 说明页id="$_GET['id']" />
	<include file="public:meta" />
	<link href="{:C('TPL_PUBLIC_DIR')}/css/common.css" rel="stylesheet" type="text/css" />
	<link href="{:C('TPL_PUBLIC_DIR')}/css/explain.css" rel="stylesheet" type="text/css" />
	<script src="{:C('TPL_PUBLIC_DIR')}/js/jquery.common.js" type="text/javascript" language="javascript"></script>
</head>
<body>
<include file="public:header_other" />
<div class="new-search-box" style="background-image: url({:C('TPL_PUBLIC_DIR')}/images/sebanner{:rand(1,5)}.jpg);">
    <div class="ns-main">
        <div class="main-sty">
            <div class="sty-cell J_sli select" data-type="QS_jobslist">找工作<div class="sty-aow"></div></div>
            <div class="sty-cell J_sli" data-type="QS_resumelist">招人才<div class="sty-aow"></div></div>
            <div class="sty-cell J_sli" data-type="QS_companylist">搜企业<div class="sty-aow"></div></div>
            <div class="clear"></div>
        </div>
        <div class="main-sip">
            <div class="ip-group">
                <form id="ajax_search_location">
                    <div class="ip-box"><input type="text" name="key" id="top_search_input" value="" placeholder="请输入关键字" /></div>
                    <div class="ip-btn"><input id="top_search_btn" type="submit" class="sobut J_hoverbut" value="搜  索" /></div>
                    <input type="hidden" name="act" id="top_search_type" value="QS_jobslist" />
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="explain">
  <div class="el">
		<div class="enav link_gray6">
		  <div class="tli"><if condition="$Think.get.type_id eq 1">关于我们</if><if condition="$Think.get.type_id eq 2">特色栏目</if></div>
		  <if condition="$Think.get.type_id eq 1">
		  	<qscms:explain_list 列表名="list" 分类id="1"/>
		  <else />
		  	<qscms:explain_list 列表名="list" 分类id="2"/>
		  </if>
		  <volist name="list" id="vo">
		  <div class="eli <if condition="$vo['id'] eq $info['id']">select</if>"><a href="{$vo['url']}">{$vo['title_']}</a></div>
		  </volist>
    	</div>
  </div>
  
  <div class="er">
  
	<div class="main">
	  <div class="tit">{$info['title']}</div>
	  <div class="txt">
	  {$info['content']}
	  </div>
	</div>
  </div>
  
  <div class="clear"></div>
</div>

<include file="public:footer_min" />
<script type="text/javascript">
    $(document).ready(function(){
		$.getJSON("{:U('ajaxCommon/explain_click')}",{id:"{$info['id']}"},function(result){
            if(result.status==1){
                $(".click").html(result.data);
            }
        })
        // 顶部搜索类型切换
		$('.J_sli').click(function() {
			$(this).addClass('select').siblings().removeClass('select');
			var typeValue = $.trim($(this).data('type'));
			$('#top_search_type').val(typeValue);
		})

	   // 顶部回车搜索
		$('#top_search_input').bind('keypress', function(event) {
			if (event.keyCode == "13") {
				$("#top_search_btn").click();
			}
		})

		// 顶部搜索跳转
	    $('#top_search_btn').click(function() {
	        $('#top_search_input').val(htmlspecialchars($('#top_search_input').val()));
	        var post_data = $('#ajax_search_location').serialize();
	        if(qscms.keyUrlencode==1){
	            post_data = encodeURI(post_data);
	        }
	        $.post(qscms.root + '?m=Home&c=Index&a=search_location',post_data,function(result){
	            if(result.status == 1){
	                window.location=result.data;
	            }
	        },'json')
	        return !1;
	    })
    })
</script>
</body>
</html>
