<include file="public:header"/>

<div class="seltpye_y">
    <div class="tit">服务类型</div>
    <div class="ct">
        <div class="txt <notempty name='Think.get.order_type'>select</notempty>" title="{$Think.get.order_type_cn}">{$Think.get.order_type_cn|default='不限'}</div>
    </div>
    <div class="downlist">
        <li url="{:P(array('order_type'=>'0','order_type_cn'=>'不限'))}">不限</li>
        <volist name="increment_type" id="vo">
            <li url="{:P(array('order_type'=>$key,'order_type_cn'=>$vo))}" title="{$vo}">{$vo}</li>
        </volist>
    </div>
</div>
<div class="seltpye_y">
    <div class="tit">添加时间</div>
    <div class="ct">
        <div class="txt <neq name='Think.get.settr' value=''>select</neq>">{$Think.get.settr_cn|default='不限'}</div>
    </div>
    <div class="downlist">
        <li url="{:P(array('settr'=>'','settr_cn'=>'不限'))}">不限</li>
        <li url="{:P(array('settr'=>'3','settr_cn'=>'三天内'))}">三天内</li>
        <li url="{:P(array('settr'=>'7','settr_cn'=>'一周内'))}">一周内</li>
        <li url="{:P(array('settr'=>'30','settr_cn'=>'一月内'))}">一月内</li>
        <li url="{:P(array('settr'=>'180','settr_cn'=>'半年内'))}">半年内</li>
        <li url="{:P(array('settr'=>'360','settr_cn'=>'一年内'))}">一年内</li>
    </div>
</div>
<div class="clear"></div>

<div class="list_th">
    <div class="td" style=" width:35%;">
        <div class="left_padding">服务内容</div>
    </div>
    <div class="td" style=" width:20%;">公司名称</div>
    <div class="td center" style=" width:15%;">申请会员</div>
    <div class="td center" style=" width:15%;">金额</div>
    <div class="td center" style=" width:15%;">时间</div>
    <div class="clear"></div>
</div>

<volist name="list" id="vo">
    <div class="list_tr link_black">
        <div class="td" style=" width:35%;">
            <div class="left_padding striking">{$vo['service_name']}</div>
        </div>
        <div class="td" style=" width:20%;">
            <if condition="$vo['companyname']">{$vo['companyname']}<else />未填写企业资料</if>
        </div>
        <div class="td center" style=" width:15%;">{$vo['username']}</div>
        <div class="td center" style=" width: 15%;">￥<strong>{$vo['amount']}</strong>元</div>
        <div class="td center" style=" width:15%;">{:admin_date($vo['addtime'])}</div>
        <div class="clear"></div>
    </div>
</volist>

<empty name="list">
    <div class="list_empty">没有任何信息！</div>
</empty>
<div class="pages">{$page}</div>

</div>
<include file="public:footer"/>

</body>
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
</html>