<include file="Admin@default/public/header" />
<link href="../public/css/admin.css" rel="stylesheet" type="text/css">
<div class="instructions">
        <p>1.邀请红包主要适用于平台为增长个人简历注册量，您可以自主选择是否开启此项功能。功能开启后，被邀请人简历完整度达到指定值时，则邀请成功，经过后台审核成功则发放红包，邀请任务时长没有时间限制；</p>
        <p>2.红包具体规则请至参数配置进行具体配置，其中红包金额最小为1元，当除去服务费后小于1元时，按1元发放，不收取服务费。</p>
        <p>3.为了保证发放功能正常使用，请确认微信账号内有充足的余额，微信限制每个用户每天最多可发放10次，可以在【微信商户平台--账户中心--API安全进行设置】；发放红包需要微信支付双向证书，请到【微信商户平台--账户中心--API安全】下载证书，并上传至data/cert目录。</p>

        <p>黑名单：</p>
        <p>黑名单是为了避免违规用户对系统进行恶意邀请所设置的，您可以在邀请列表对邀请人（网站会员）拉黑，一旦拉黑则相关此用户的邀请任务自动失效。如果要解除黑名单，请在参数配置下方黑名单管理中恢复即可。</p> 

        <p>红包发放：</p>
        <p>1.邀请任务完成后，所有发放记录均需后台手动审核，审核通过则发放红包。（因实际完成人数可能大于红包数，）</p>
        <p>2.当红包无法正常发放时，如微信商户余额不足、curl出错、支付参数错误等，系统将提示发放失败，管理员可根据不同情况选择【重新发放】。</p>
        <p>3.如果要启用相关的通知，请先至系统对应模块下进行配置。</p>
    </div>
</div>
<include file="Admin@default/public/footer" />

</body>
</html>