<include file="public:header" />
<div class="toptip">
    <div class="toptit">提示：</div>
    <p>您可以修改关键字搜索次数来改变关键词排序</p>
</div> 
<form id="form1" name="form1" method="post" action="{:U('hotword/delete')}">
    <div class="list_th">
        <div class="td" style="width:50%;">
            <label id="chkAll" class="left_padding">
                <input type="checkbox" name="chkAll" id="chk" title="全选/反选"/>关键词
            </label>
        </div>
        <div class="td center" style="width:37%;">搜索次数</div>
        <div class="td" style=" width:13%;">操作</div>
        <div class="clear"></div>
    </div>
    <volist name="list" id="vo">
        <div class="list_tr link_black">
            <div class="td" style="width:50%;">
                <div class="left_padding striking">
                    <label> <input name="w_id[]" type="checkbox" value="{$vo.w_id}"/>{$vo.w_word}</label>
                </div>
            </div>
            <div class="td center" style="width:37%;">{$vo.w_hot}</div>
            <div class="td edit" style="width:13%;">
                <a href="{:U('hotword/edit',array('w_id'=>$vo['w_id']))}">修改</a>
                <a href="{:U('hotword/delete',array('w_id'=>$vo['w_id']))}" class="gray" onclick="return confirm('你确定要删除吗？')">删除</a>
            </div>
            <div class="clear"></div>
        </div>
    </volist>
    <empty name="list">
        <div class="list_empty">没有任何信息！</div>
    </empty>
    <div class="list_foot">
        <div class="btnbox">
            <input id="ButAudit" type="button" class="admin_submit" value="添加词语" onclick="window.location='{:U('hotword/add')}'"/>
            <input id="ButDel" type="button" class="admin_submit" value="删除所选"/>
        </div>
    </div>
</form>
<div class="pages">{$page}</div>
</div>
<include file="public:footer" />
<script type="text/javascript">
  $(document).ready(function()
  {
    //点击批量取消
    $("#ButDel").click(function(){

      if (confirm('你确定要删除吗？'))
      {
        $("form[name=form1]").submit()
      }
    });

  });
</script>
</body>
</html>