<div class="dialog_box">
    <form action="{:U('Appeal/set_status')}" method="post" name="form" id="form">
        <volist name="ids" id="vo">
            <input name="id[]" type="hidden" value="{$vo}"/>
        </volist>
        <table width="400" border="0" align="center" cellpadding="0" cellspacing="6">
            <tr>
                <td width="20" height="20">&nbsp;</td>
                <td height="20">将所选帐号申诉设置为：</td>
            </tr>
            <tr>
                <td width="40" height="25">&nbsp;</td>
                <td>
                    <div class="imgradio">
                        <input name="status" type="hidden" value="1">
                        <div class="radio select" data="1">已处理</div>
                        <div class="radio " data="0">未处理</div>
                        <div class="clear"></div>
                    </div>
                </td>
            </tr>
            <!--<tr>
                <td width="40" height="25">备注：</td>
                <td>
                    <textarea name="reason" class="input_text_default" style="width:300px; height:60px; line-height: 20px;"></textarea>
                </td>
            </tr>-->
            <tr>
                <td height="25">&nbsp;</td>
                <td>
                    <input type="submit" name="set_audit" value="确定" class="admin_submit"/>
                </td>
            </tr>
        </table>
    </form>
</div>