<div style="width:410px;">
    <div class="form_main width150">
        <div class="fl">页面链接设置为：</div>
        <div class="fr">
            <div class="imgradio">
                <input name="url" id="J_url" type="hidden" value="0">
                <div class="radio select" data="0" title="已选项目">原始链接</div>
                <div class="radio" data="1" title="所有等待发送项目">伪静态</div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="fl"></div>
        <div class="fr">
            <td><input type="submit" name="set_url" id="set_url" value="确定" class="admin_submit" /></td>
        </div>
        <div class="clear"></div>
    </div>
</div>