<div id="CachingHtml">
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="6" >
        <tr>
            <td height="30">&nbsp;</td>
            <td height="30"><strong  style="color:#0066CC; font-size:14px;">将所选页面缓存设置为：</strong></td>
        </tr>
        <tr>
            <td width="20" height="25">&nbsp;</td>
            <td>
                <input name="caching" id="J_caching" type="text" class="input_text_default small" maxlength="30" value="0">

                分钟 <br /><br />

                <span style="color:#666666">(0为不缓存,建议设为180 以上) </span></td>
        </tr>

        <tr>
            <td height="25">&nbsp;</td>
            <td><input type="button" name="set_caching" id="set_caching" value="确定" class="admin_submit"></td>
        </tr>
    </table>
</div>