<div class="admin_management link_blue">
    <div class="mantit" style="margin-bottom: 8px;"><strong>{$info['setmeal_name']}</strong></div>
    <table width="100%" border="0" cellpadding="10" cellspacing="1" bgcolor="#DFDFDF" class="link_blue">
        <tr>
            <td bgcolor="#FFFFFF">开通时间：{:date('Y-m-d',$info['starttime'])}</td>
            <td bgcolor="#FFFFFF">到期时间：
                <if condition="$info['endtime'] eq 0">无限期<else/>{:date('Y-m-d',$info['endtime'])}</if>
            </td>
        </tr>
        <tr>
            <td bgcolor="#FFFFFF">同时在招职位数：{$info['jobs_meanwhile']}</td>
            <td bgcolor="#FFFFFF">每天职位免费刷新数：{$info['refresh_jobs_free']}</td>
        </tr>
        <tr>
            <td bgcolor="#FFFFFF">下载简历点数：{$info['download_resume']}</td>
            <td bgcolor="#FFFFFF">每天下载简历数上限：{$info['download_resume_max']}</td>
        </tr>
    </table>
    <div class="mantit" style="margin-top:15px; margin-bottom: 8px;"><strong>套餐变更日志</strong></div>
    <div style="max-height:200px;overflow-y:auto">
        <table width="100%" border="0" cellpadding="10" cellspacing="1" bgcolor="#DFDFDF" class="link_lan">
            <tr>
                <td width="120" bgcolor="#FFFFFF" align="center">变更时间</td>
                <td bgcolor="#FFFFFF">描述</td>
            </tr>
            <if condition="$list">
                <volist name="list" id="vo">
                    <tr>
                        <td bgcolor="#FFFFFF" align="center">{:date('Y-m-d H:i',$vo['log_addtime'])}</td>
                        <td bgcolor="#FFFFFF">{$vo['log_value']}</td>
                    </tr>
                </volist>
            <else/>
                <tr>
                    <td colspan="2" bgcolor="#FFFFFF">没有任何信息！</td>
                </tr>
            </if>
        </table>
    </div>
</div>