<!-- <section class="_135editor" data-tools="135编辑器" data-id="94515">
    <section style="padding:2em 0px 0px 0px;">
        <section style="text-align:center;margin-bottom: -1.7em;">
            <section style="display:inline-block;text-align:center;">
                <section style="padding:8px 2em 12px 2em; background-image:url(https://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9wbmcvN1FSVHZrSzJxQzZZTHdNSExhNEVVc3VHc2dQbWZWd0hsZGRFalp6a092RGR4WTdsaGx6SGxyaWFLUHZQaWJwQUJhYlJXNmJBQUNIeFhoREtGeHFUc3NxQS8wP3d4X2ZtdD1wbmc=); background-repeat:no-repeat; text-align: center;background-size:100% 100%; color:#fefffe; font-size:16px;letter-spacing:1.5px;">
                    <section class="135brush" data-brushtype="text" style="color: #4f0a03;font-weight: bold;font-size:16px;letter-spacing:1.5px;">
                        人事主管
                    </section>
                </section>
            </section>
        </section>
        <section style="width: 100%;border-radius:6px;border: 1px solid #000;padding-top: 6px;">
            <section style="border-radius:6px;border-top: 1px solid #000;">
                <section style="padding:2em 1em  0em 1em;">
                    <section class="135brush" data-brushtype="text" style="text-align: justify;color: #f5b619;font-size:16px;font-weight: bold;letter-spacing: 2px;">
                        职能描述:
                    </section>
                </section>
                <section data-autoskip="1" class="135brush" style="font-size: 14px;text-align: justify;letter-spacing: 1.5px;line-height: 1.75em;color: #3f3e3f;padding:0.6em 1em;">
                    <p>
                        1、熟悉基本的电脑办公软件操作；
                    </p>
                    <p>
                        2、两年以上人力资源工作经验；
                    </p>
                    <p>
                        3、熟悉人力资源管理各项实务的操作;
                    </p>
                </section>
                <section style="padding:1em 1em  0em 1em;">
                    <section class="135brush" data-brushtype="text" style="text-align: justify;color: #f5b619;font-size:16px;font-weight: bold;letter-spacing: 2px;">
                        薪酬待遇:
                    </section>
                </section>
                <section data-autoskip="1" class="135brush" style="font-size: 14px;text-align: justify;letter-spacing: 1.5px;line-height: 1.75em;color: #3f3e3f;padding:0.6em 1em;">
                    <p>
                        社保+绩效奖金+包住+员工旅游+交通补贴+餐饮补贴+专业培训+弹性工作
                    </p>
                    <p>
                        <br/>
                    </p>
                </section>
                    <section style="text-align:center;" align="center">
                        <section style="display: inline-block;margin:0px auto 20px auto;" data-width="40%">
                            <img width="85" height="85" class="assistant" style="display: block;" src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQE_8DwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAyQ19sOHMyQU9hT2UxVV9ZbjF0Y3gAAgQ3tdddAwQIBwAA" data-ratio="0.8209718670076727" data-width="100%"/>
                        </section>
                    </section>
                    <section style="text-align:center;" align="center">
                        长按识别二维码申请职位
                    </section>
                    <section style="text-align:center;" align="center">
                        <br/>
                    </section>
            </section>
        </section>
    </section>
</section> -->

<volist name="list" id="vo">
<section data-tools="74cmszw1">
    <section style="border: 0px currentColor; border-image: none;">
        <p>
            <br>
        </p>
        <section style="width: 100%;" data-width="100%">
            <section style="margin: 0px auto; text-align: center; transform: translateZ(10px); -webkit-transform: translateZ(10px);">
                <section style="padding: 0px 6px; width: auto; display: inline-block; background-color: rgb(254, 254, 254);">
                    <section style="display: flex;">
                        <section style="padding: 0px 15px; border-radius: 8px; height: 35px; color: rgb(254, 254, 254); line-height: 35px; font-size: 18px; transform: translateZ(10px); background-color: rgb(253, 192, 16); -webkit-transform: translateZ(10px);">
                            <p style="margin: 0px; white-space: nowrap;">
                                <strong data-brushtype="text">{$vo.jobs_name}</strong>
                                <input type="hidden" value="{$vo.jobs_name}">
                            </p>
                        </section>
                        <section style="background-position: center; margin: -14px 0px 0px 3px; width: 20px; height: 25px; background-image: url(../public/images/job1.png); background-repeat: no-repeat; background-size: 100% 100%; background-color: rgb(253, 192, 16);">
                            <br>
                        </section>
                    </section>
                </section>
            </section>
            <section style="padding: 15px; border: 1px solid rgb(253, 192, 16); margin-top: -18px; text-align: center;">
                <section style="margin: 7px auto; width: auto; display: inline-block;">
                    <p style="margin: 0px;">
                        <strong style="white-space: normal; color: rgb(255, 169, 0); text-align: right;"><if condition="$vo['negotiable'] eq 1">面议<else />{$vo.minwage}-{$vo.maxwage}元/月</if></strong>
                    </p>
                    <p style="margin: 0px;">
                        <strong>职位描述：</strong><br>
                    </p>
                </section>
                <section style="line-height: 30px;">
                    <p style="margin: 0px;">
                        <span style="font-size: 16px;">{$vo.contents}</span>
                    </p>
                    <p style="margin: 0px;">
                        <strong>职位要求：</strong>
                    </p>
                    <p style="margin: 0px;">
                        <span style="font-size: 16px;"><if condition="$vo.education_cn eq '不限'">学历{$vo.education_cn}<else />{$vo.education_cn}</if>、<if condition="$vo.experience_cn eq '不限'">经验{$vo.experience_cn}<else />{$vo.experience_cn}</if>、<if condition="$vo['age_cn1'] && $vo['age_cn2']">{$vo.age_cn1}-{$vo.age_cn2}<elseif condition="$vo['age_cn1']==0 && $vo['age_cn2']" />{$vo['age_cn2']}<elseif condition="$vo['age_cn1'] && !$vo['age_cn2']" />{$vo['age_cn1']}<else />年龄不限</if></span>
                    </p>
                   <p style="text-align:center">
                        <span style="font-size: 16px;"><img src="{:C('qscms_site_domain')}/index.php?m=Mobile&c=Qrcode&a=index&url={:urlencode(build_mobile_url(array('c'=>'jobs','a'=>'show','params'=>'id='.$vo['id'])))}" title="1572605696153048.png" alt="saf.png" style=";width: 25%;"></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size: 16px;">长按识别获取更多职位信息</span>
                    </p>
                </section>
            </section>
        </section>
    </section>
</section>
</volist>