<include file="public:header"/>

<div class="toptit">
    编辑会员 (用户名：<span style="color:#0066CC">{$info.username}</span>)
</div>
<div class="form_main width150">
    <div class="fl">注册时间:</div>
    <div class="fr txt" style="width: 250px;">{$info.reg_time|date="Y-m-d H:i",###}</div>
    <div class="fl">注册IP:</div>
    <div class="fr txt" style="width: 250px;">{$info.reg_ip|default="- - - -"}</div>
    <div class="fl">注册地:</div>
    <div class="fr txt" style="width: 250px;">{$info.ipAddress|default="- - - -"}</div>
    <div class="fl">最后登录时间:</div>
    <div class="fr txt" style="width: 250px;">{$info.last_login_time|date="Y-m-d H:i",###}</div>
    <div class="fl">最后登录IP:</div>
    <div class="fr txt" style="width: 250px;">{$info.last_login_ip|default="- - - -"}</div>
    <div class="fl">&nbsp;</div>
    <div class="fr txt" style="width: 250px;">&nbsp;</div>
    <div class="fl">个人简历:</div>
    <div class="fr txt link_blue" style="width: 400px; margin-bottom: 5px;">
        <empty name="resume">
            <span style="color:#999999">未创建简历</span>
        <else />
            <volist name="resume" id="vo">
                    <a href="{:url_rewrite('QS_resumeshow',array('id'=>$vo['id']))}" target="_blank">{$vo['title']}</a>
                &nbsp;&nbsp;(完整指数：{$vo['complete_percent']}%)&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{:U('resume_delete',array('id'=>$vo['id'],'_k_v'=>$_GET['_k_v']))}"  onClick="return confirm('您确定删除吗?')">[删除]</a><br><br>
            </volist>
        </empty>
    </div>
    <div class="clear"></div>
</div>

<div class="toptit link_blue">基本信息</div>
<form action="{:U('member_edit')}" method="post" name="FormData" id="FormData" >
    <div class="form_main width120">
        <div class="fl">用户名:</div>
        <div class="fr">
            <input name="username" type="text" class="input_text_default middle" maxlength="16" value="{$info.username}"/>
        </div>
        <div class="fl">手机:</div>
        <div class="fr">
            <input name="mobile" type="text" class="input_text_default middle" maxlength="11" value="{$info.mobile}" onKeyUp="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');"onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))"/>
        </div>
        <div class="fl">邮箱:</div>
        <div class="fr">
            <input name="email" type="text" class="input_text_default middle" maxlength="50" value="{$info.email}"/>
        </div>
        <div class="fl">QQ绑定:</div>
        <div class="fr txt">
            <if condition="$info['qq_openid'] eq 1">
                <input name="qq_openid" type="hidden" value="{$info['qq_openid']}">
                已绑定QQ账号<label><input type="checkbox" id="qq_openid" value="2"/>取消绑定</label>
            <else />
                未绑定QQ帐号
            </if>
        </div>
        <!--<div class="fl">简历模版:</div>
        <div class="fr">
            <input name="tpl" type="text" class="input_text_default middle" maxlength="16" value="{$info.tpl}"/>
        </div>-->
        <div class="fl"></div>
        <div class="fr">
            <input type="hidden" name="uid"  value="{$info['uid']}" />
            <input name="_k_v" type="hidden" value="{$Think.get._k_v}">
            <input type="button" class="admin_submit" value="保存" id="J_submit"/>
            <input type="button" class="admin_submit" value="返回" onClick="history.go(-1)"/>
        </div>
        <div class="clear"></div>
    </div>
</form>

<div class="toptit">修改密码</div>
<form id="form1" action="{:U('member_edit')}" method="post">
    <div class="form_main width120">
        <div class="fl">新密码:</div>
        <div class="fr">
            <input name="password" type="password" class="input_text_default middle" maxlength="20" value=""/>
        </div>
        <div class="fl"></div>
        <div class="fr">
            <input type="hidden" name="uid"  value="{$info['uid']}" />
            <input name="_k_v" type="hidden" value="{$Think.get._k_v}">
            <input type="button" class="admin_submit" value="保存" id="J_submit1"/>
            <input type="button" class="admin_submit" value="返回" onClick="history.go(-1)"/>
        </div>
        <div class="clear"></div>
    </div>
</form>

<div class="toptit">用户状态</div>
<form id="form2" action="{:U('member_edit')}" method="post">
    <div class="form_main width120">
        <div class="fl">帐号状态:</div>
        <div class="fr">
            <div data-code="2,1" class="imgchecked_small <eq name='info.status' value='1'>select</eq>"><input name="status" type="hidden" value="{$info['status']}" /></div>
            <div class="clear"></div>
        </div>
        <div class="fl"></div>
        <div class="fr">
            <input type="hidden" name="uid"  value="{$info.uid}" />
            <input type="hidden" name="_k_v" value="{$Think.get._k_v}">
            <input type="button" class="admin_submit" value="保存" id="J_submit2"/>
            <input type="button" class="admin_submit" value="返回" onClick="history.go(-1)"/>
        </div>
        <div class="clear"></div>
    </div>
</form>
</div>
<include file="public:footer"/>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#J_submit').click(function(){
            var that = $(this);
            if(that.hasClass('disabled')){
                return false;
            }
            that.val('正在保存...').addClass('disabled');
            $.post("{:U('member_edit')}",$('#FormData').serialize(),function(result){
                if(result.status==1){
                    disapperTooltip("success", result.msg,function(){
                        location.href='{:U("member_edit",array('uid'=>$info['uid']))}';
                    });
                }else{
                    disapperTooltip("remind", result.msg,function(){
                        that.val('保存').removeClass('disabled');
                    });
                    return false;
                }
            },'json');
        });
        $('#J_submit1').click(function(){
            var that = $(this);
            if(that.hasClass('disabled')){
                return false;
            }
            that.val('正在保存...').addClass('disabled');
            $.post("{:U('member_edit')}",$('#form1').serialize(),function(result){
                if(result.status==1){
                    disapperTooltip("success", result.msg,function(){
                        location.href='{:U("member_edit",array('uid'=>$info['uid']))}';
                    });
                }else{
                    disapperTooltip("remind", result.msg,function(){
                        that.val('保存').removeClass('disabled');
                    });
                    return false;
                }
            },'json');
        });
        $('#J_submit2').click(function(){
            var that = $(this);
            if(that.hasClass('disabled')){
                return false;
            }
            that.val('正在保存...').addClass('disabled');
            $.post("{:U('member_edit')}",$('#form2').serialize(),function(result){
                if(result.status==1){
                    disapperTooltip("success", result.msg,function(){
                        location.href='{:U("member_edit",array('uid'=>$info['uid']))}';
                    });
                }else{
                    disapperTooltip("remind", result.msg,function(){
                        that.val('保存').removeClass('disabled');
                    });
                    return false;
                }
            },'json');
        });
    });
</script>
</html>