<include file="public:header"/>
<div class="toptip">
    <div class="toptit">提示：</div>
    <p>可见简历是指：审核通过、审核中等能正常显示的简历。</p>
    <p>不可见简历指：审核未通过等网站前台不显示的简历。</p>
</div>
<div class="seltpye_y">
    <div class="tit">可见状态</div>
    <div class="ct">
        <div class="txt <notempty name='Think.get.tabletype'>select</notempty>">{$Think.get.tabletype_cn|default="不限"}</div>
    </div>
    <div class="downlist">
        <li url="{:P(array('tabletype'=>'0','tabletype_cn'=>'不限'))}">不限</li>
        <li url="{:P(array('tabletype'=>'1','tabletype_cn'=>'可见简历'))}">可见简历</li>
        <li url="{:P(array('tabletype'=>'2','tabletype_cn'=>'非可见简历'))}">非可见简历</li>
    </div>
</div>
<div class="seltpye_y">
    <div class="tit">审核状态</div>
    <div class="ct">
        <div class="txt <notempty name='Think.get.audit'>select</notempty>">{$Think.get.audit_cn|default="不限"}</div>
    </div>
    <div class="downlist">
        <li url="{:P(array('audit'=>'','audit_cn'=>'不限'))}">不限</li>
        <li url="{:P(array('audit'=>'2','audit_cn'=>'等待审核'))}">等待审核<if condition="$count[14] gt 0"><span style="color:#FF0000">({$count[14]})</span></if></li>
        <li url="{:P(array('audit'=>'1','audit_cn'=>'审核通过'))}">审核通过<span>({$count[13]})</span></li>
        <if condition="$Think.get.tabletype neq 1">
            <li url="{:P(array('audit'=>'3','audit_cn'=>'审核未通过'))}" title="审核未通过">审核未通过<span>({$count[15]})</span></li>
        </if>
    </div>
</div>
<div class="seltpye_y">
    <div class="tit">照片审核</div>
    <div class="ct">
        <div class="txt <notempty name='Think.get.photo_audit'>select</notempty>">{$Think.get.photo_audit_cn|default="不限"}</div>
    </div>
    <div class="downlist">
        <li url="{:P(array('photo_audit'=>'','photo_audit_cn'=>'不限'))}">不限({$count[6]})</li>
        <li url="{:P(array('photo_audit'=>'2','photo_audit_cn'=>'等待审核'))}">等待审核<if condition="$count[7] gt 0"><span style="color:#FF0000">({$count[7]})</span></if></li>
        <li url="{:P(array('photo_audit'=>'1','photo_audit_cn'=>'审核通过'))}">审核通过({$count[8]})</li>
        <li url="{:P(array('photo_audit'=>'3','photo_audit_cn'=>'审核未通过'))}">审核未通过({$count[9]})</li>
    </div>
</div>
<div class="seltpye_y">
    <div class="tit">创建时间</div>
    <div class="ct">
        <div class="txt <notempty name='Think.get.addtimesettr'>select</notempty>">{$Think.get.addtimesettr_cn|default="不限"}</div>
    </div>
    <div class="downlist">
        <li url="{:P(array('addtimesettr'=>'','addtimesettr_cn'=>'不限'))}">不限</li>
        <li url="{:P(array('addtimesettr'=>'3','addtimesettr_cn'=>'三天内'))}">三天内</li>
        <li url="{:P(array('addtimesettr'=>'7','addtimesettr_cn'=>'一周内'))}">一周内</li>
        <li url="{:P(array('addtimesettr'=>'30','addtimesettr_cn'=>'一月内'))}">一月内</li>
    </div>
</div>
<div class="seltpye_y">
    <div class="tit">刷新时间</div>
    <div class="ct">
        <div class="txt <notempty name='Think.get.settr'>select</notempty>">{$Think.get.settr_cn|default="不限"}</div>
    </div>
    <div class="downlist">
        <li url="{:P(array('settr'=>'','settr_cn'=>'不限'))}">不限</li>
        <li url="{:P(array('settr'=>'3','settr_cn'=>'三天内'))}">三天内</li>
        <li url="{:P(array('settr'=>'7','settr_cn'=>'一周内'))}">一周内</li>
        <li url="{:P(array('settr'=>'30','settr_cn'=>'一月内'))}">一月内</li>
    </div>
</div>
<div class="seltpye_y">
    <div class="tit">排序方式</div>
    <div class="ct">
        <div class="txt <if condition="($Think.get.orderby neq '') AND ($Think.get.orderby neq 'addtime')">select</if>">{$Think.get.orderby_cn|default="发布时间"}</div>
    </div>
    <div class="downlist">
        <li url="{:P(array('orderby'=>'addtime','orderby_cn'=>'创建时间'))}">创建时间</li>
        <li url="{:P(array('orderby'=>'refreshtime','orderby_cn'=>'刷新时间'))}">刷新时间</li>
    </div>
</div>
<div class="clear"></div>

<form id="form1" name="form1" method="post" action="{:U('set_audit')}">
    <div class="list_th">
        <div class="td" style=" width:16%;">
            <label id="chkAll" class="left_padding">
                <input type="checkbox" name="chkAll" id="chk" title="全选/反选"/>姓名
            </label>
        </div>
        <div class="td" style=" width:15%;">基本资料</div>
        <div class="td" style=" width:10%;">完整指数</div>
        <div class="td center" style=" width:8%;">审核状态</div>
        <div class="td center" style=" width:8%;">照片审核</div>
        <div class="td center" style=" width:5%;">公开</div>
        <div class="td center" style=" width:8%;">创建时间</div>
        <div class="td center" style=" width:8%;">刷新时间</div>
        <div class="td" style=" width:20%;">操作</div>
        <div class="clear"></div>
    </div>

    <volist name="list" id="vo">
        <div class="list_tr link_black">
            <div class="td" style=" width:16%;">
                <div class="left_padding striking">
                    <input name="id[]" type="checkbox" id="id" value="{$vo['id']}"/>
                    <span class="vtip" title="<img src='{:attach($vo['photo_img'],'avatar')}' border=0 align=absmiddle width=120 height=120>">
                        <img class="avatar" src="{:attach($vo['photo_img'],'avatar')}" align="absmiddle">&nbsp;&nbsp;
                    </span>
                    <a href="{$vo['resume_url']}" target="_blank">{$vo['fullname']}</a>
                    <!--<if condition="$vo['photo_img'] neq ''">
                        <span class="pictip vtip" title="<img src='{:attach($vo['photo_img'],'avatar')}' border=0 align=absmiddle width=120 height=120>">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </if>-->
                </div>
            </div>
            <div class="td" style=" width:15%;">
                <notempty name="vo.birthdate">{:date('Y')-$vo['birthdate']}岁 <else/>未填写 </notempty>
                <notempty name="vo.sex_cn">/ {$vo['sex_cn']} </notempty>
                <notempty name="vo.education_cn">/ {$vo['education_cn']} </notempty>
                <notempty name="vo.experience_cn">/ {$vo['experience_cn']} </notempty>
            </div>
            <div class="td" style=" width:10%;">
                <div style="width:100px; background-color:#CCCCCC; position:relative; margin-top: 20px;" title="完整度:{$vo['complete_percent']}%">
                    <div style="background-color: #99CC00; height:16px; width:{$vo['complete_percent']}%;"></div>
                    <div style="position:absolute; top:0; left: 40%; font-size:10px; width: 100px; height: 16px; line-height: 16px;">{$vo['complete_percent']}%</div>
                </div>
            </div>
            <div class="td center" style=" width:8%;">
                <if condition="$vo['audit'] eq 1">
                    <span style="color: #009900">审核通过</span>
                    <elseif condition="$vo['audit'] eq 2"/>
                    <span style="color:#FF6600">等待审核</span>
                    <elseif condition="$vo['audit'] eq 3"/>
                    <span style="color:#666666">审核未通过</span>
                </if>
                <span class="view resume_audit_log" title="查看日志" parameter="id={$vo['id']}">&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="td center" style=" width:8%;">
                <if condition="$vo['photo_audit'] eq '1'">审核通过</if>
                <if condition="$vo['photo_audit'] eq '2'"><span style="color: #FF6600">等待审核</span></if>
                <if condition="$vo['photo_audit'] eq '3'"><span style="color: #666666">审核未通过</span></if>
            </div>
            <div class="td center" style=" width:5%;">
                <if condition="$vo['display'] eq '1'">公开<else />保密</if>
            </div>
            <div class="td center" style=" width:8%;">{:admin_date($vo['addtime'])}</div>
            <div class="td center" style=" width:8%;">{:admin_date($vo['refreshtime'])}</div>
            <div class="td edit" style=" width:20%;">
                <a href="javascript:void(0);" class="business" parameter="uid={$vo['uid']}" hideFocus="true">业务</a>
                <a href="javascript:void(0);" class="blue resume_log" parameter="uid={$vo['uid']}}">日志</a>
                <if condition="$apply['Analyze']">
                <a href="{:U('Analyze/Admin/analyze_list_per',array('id'=>$vo['id'],'_k_v'=>$vo['id']))}">统计</a>
                </if>
                <a href="javascript:void(0);" class="comment <if condition="$vo['comment_content']">vtip</if>" <if condition="$vo['comment_content']">title="{$vo['comment_content']}"</if> parameter="id={$vo['id']}">点评</a>
                <a href="javascript:;" class="J_message" parameter="uid={$vo['uid']}">发消息</a>
                <a href="{:U('resume_delete',array('id'=>$vo['id']))}" onClick="return confirm('你确定要删除该简历吗？')" class="gray">删除</a>
            </div>
            <div class="clear"></div>
        </div>
    </volist>
</form>

<empty name="list">
    <div class="list_empty">没有任何信息！</div>
</empty>

<div class="list_foot">
    <div class="btnbox">
        <input type="button" class="admin_submit" id="ButPhotoAudit" value="审核照片"/>
        <input type="button" class="admin_submit" id="ButAudit" value="审核简历"/>
        <input type="button" class="admin_submit" id="ButRefresh" value="刷新"/>
        <input type="button" class="admin_submit" id="ButDel" value="删除"/>
    </div>

    <div class="footso">
        <form action="?" method="get">
            <div class="sobox">
                <input type="hidden" name="m" value="{:C('admin_alias')}">
                <input type="hidden" name="c" value="{:CONTROLLER_NAME}">
                <input type="hidden" name="a" value="{:ACTION_NAME}">
                <input name="key" type="text" class="sinput" value="{$Think.get.key}"/>
                <input name="key_type" id="J_key_type_id" type="hidden" value="{$Think.get.key_type|default='1'}" />
                <input name="key_type_cn" id="J_key_type_cn" type="hidden" value="{$Think.get.key_type_cn|default='姓名'}"/>
                <input name="" type="submit" value="" class="sobtn"/>
                <div class="sotype" id="J_key_click">{$Think.get.key_type_cn|default='姓名'}</div>
                <div class="mlist" id="J_mlist">
                    <ul>
                        <li id="1" title="姓名">姓名</li>
                        <li id="2" title="简历ID">简历ID</li>
                        <li id="3" title="会员ID">会员ID</li>
                        <li id="4" title="电话">电话</li>
                        <!--<li id="5" title="QQ">QQ</li>-->
                        <li id="6" title="地址">地址</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="pages">{$page}</div>

</div>
<include file="public:footer"/>

</body>
<script type="text/javascript" src="__ADMINPUBLIC__/js/jquery.entrustinfotip-min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".J_message").click(function () {
            $('.modal_backdrop').remove();
            $('.modal').remove();
            var qsDialog = $(this).dialog({
                title: '发消息',
                loading: true,
                footer : false
            });
            var param = $(this).attr('parameter');
            var url = "{:U('Ajax/ajax_message')}&" + param;
            $.getJSON(url, function (result) {
                qsDialog.setContent(result.data);
            });
        });
        $(".resume_log").click(function () {
            var qsDialog = $(this).dialog({
                title: '简历日志',
                loading: true,
                footer : false
            });
            var param = $(this).attr('parameter');
            var url = "{:U('Ajax/resume_log')}&" + param;
            $.getJSON(url, function (result) {
                qsDialog.setContent(result.data);
            });
        });
        //业务
        $(".business").click(function () {
            var qsDialog = $(this).dialog({
                title: '业务',
                loading: true,
                footer : false
            });
            var param = $(this).attr('parameter');
            var url = "{:U('Ajax/business')}&" + param;
            $.getJSON(url, function (result) {
                qsDialog.setContent(result.data);
            });
        });
        //简历审核日志
        $(".resume_audit_log").click(function () {
            var qsDialog = $(this).dialog({
                title: '审核日志',
                loading: true,
                footer : false
            });
            var param = $(this).attr('parameter');
            var url = "{:U('Ajax/resume_audit_log')}&" + param;
            $.getJSON(url, function (result) {
                qsDialog.setContent(result.data);
            });
        });
         //点评
        $(".comment").click(function () {
            var qsDialog = $(this).dialog({
                title: '人才点评',
                loading: true,
                footer : false
            });
            var param = $(this).attr('parameter');
            var url = "{:U('Ajax/comment_resume')}&" + param;
            $.getJSON(url, function (result) {
                qsDialog.setContent(result.data);
            });
        });
        //审核简历
        $("#ButAudit").click(function () {
            var data = $("form[name=form1]").serialize();
            if(data.length == 0){
                disapperTooltip('remind','请选择简历！');
            } else {
                var qsDialog = $(this).dialog({
                    title: '审核简历',
                    loading: true,
                    footer : false
                });
                var url = "{:U('Ajax/resumes_audit')}";
                $.post(url, data, function (result) {
                    if(result.status == 1){
                        qsDialog.setContent(result.data);
                    } else {
                        qsDialog.hide();
                        disapperTooltip('remind',result.msg);
                    }
                });
            }
        });
        //审核简历照片
        $("#ButPhotoAudit").click(function () {
            var data = $("form[name=form1]").serialize();
            if(data.length == 0){
                disapperTooltip('remind','请选择简历！');
            } else {
                var qsDialog = $(this).dialog({
                    title: '审核简历照片',
                    loading: true,
                    footer : false
                });
                var url = "{:U('Ajax/resumes_photo_audit')}";
                $.post(url, data, function (result) {
                    if(result.status == 1){
                        qsDialog.setContent(result.data);
                    } else {
                        qsDialog.hide();
                        disapperTooltip('remind',result.msg);
                    }
                });
            }
        });
        //点击批量删除
        $("#ButDel").click(function () {
            if (confirm('你确定要删除吗？')) {
                $("form[name=form1]").attr("action", "{:U('resume_delete')}");
                $("form[name=form1]").submit();
            }
        });
        //点击批量刷新
        $("#ButRefresh").click(function () {
            $("form[name=form1]").attr("action", "{:U('refresh')}");
            $("form[name=form1]").submit();
        });
    });
</script>
</html>