<include file="public:header"/>
<div class="toptip">
    <div class="toptit">提示：</div>
    <p>系统将自动取消到期的简历推广。</p>
    <p>此列表不显示到期、停止、未通过审核的简历推广信息。</p>
</div>
<div class="seltpye_x">
    <div class="left">推广方案</div>
    <div class="right">
        <a href="{:P(array('type'=>'stick'))}" <if condition="$Think.get.type eq 'stick' OR $Think.get.type eq ''">class="select"</if>>简历置顶</a>
        <a href="{:P(array('type'=>'tag'))}" <eq name='Think.get.type' value='tag'>class="select"</eq>>醒目标签</a>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="seltpye_x">
    <div class="left">到期时间</div>
    <div class="right">
        <a href="{:P(array('settr'=>''))}" <eq name='Think.get.settr' value=''>class="select"</eq>>不限</a>
        <a href="{:P(array('settr'=>'0'))}" <eq name='Think.get.settr' value='0'>class="select"</eq>>已经到期</a>
        <a href="{:P(array('settr'=>'3'))}" <eq name='Think.get.settr' value='3'>class="select"</eq>>三天内到期</a>
        <a href="{:P(array('settr'=>'7'))}" <eq name='Think.get.settr' value='7'>class="select"</eq>>一周内到期</a>
        <a href="{:P(array('settr'=>'30'))}" <eq name='Think.get.settr' value='30'>class="select"</eq>>一月内到期</a>
        <a href="{:P(array('settr'=>'90'))}" <eq name='Think.get.settr' value='90'>class="select"</eq>>三月内到期</a>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<form id="form1" name="form1" method="post" action="{:U('promotion_tag_deltet')}">
    <div class="list_th">
        <div class="td" style=" width:30%;">
            <label id="chkAll" class="left_padding">
                <input type="checkbox" name="chkAll" id="chk" title="全选/反选"/>姓名
            </label>
        </div>
        <div class="td" style=" width:10%;">标签名称</div>
        <div class="td center" style=" width:10%;">会员ID</div>
        <div class="td center" style=" width:10%;">推广天数</div>
        <div class="td center" style=" width:15%;">开始时间</div>
        <div class="td center" style=" width:15%;">结束时间</div>
        <div class="td" style=" width:10%;">操作</div>
        <div class="clear"></div>
    </div>

    <volist name="list" id="vo">
        <div class="list_tr link_blue">
            <div class="td" style=" width:30%;">
                <div class="left_padding striking">
                    <input name="id[]" type="checkbox" id="id" value="{$vo['id']}"/>
                    <a href="{$vo.resume_url}" target="_blank">{$vo.fullname}</a>
                </div>
            </div>
            <div class="td" style=" width:10%;">{$tag_list[$vo['tag_id']]}</div>
            <div class="td center" style=" width:10%;">{$vo.resume_uid}</div>
            <div class="td center" style=" width:10%;">{$vo.days}天</div>
            <div class="td center" style=" width: 15%;">
                <if condition="$vo['addtime'] eq '0'">无限制<else />{$vo.addtime|date="Y-m-d",###}</if>
            </div>
            <div class="td center" style=" width:15%;">
                <if condition="$vo['endtime'] lt time()"><span style="color:#FF6600">已经到期</span><else/>{$vo.endtime|date="Y-m-d",###}</if>
            </div>
            <div class="td edit" style=" width:10%;">
                <a href="{:U('promotion_tag_edit',array('id'=>$vo['id'],'_k_v'=>$_GET['_k_v']))}">修改</a>
            </div>
            <div class="clear"></div>
        </div>
    </volist>
</form>

<empty name="list">
    <div class="list_empty">没有任何信息！</div>
</empty>

<div class="list_foot">
    <div class="btnbox">
        <input type="button" class="admin_submit" id="ButAdd" value="添加推广" onclick="window.location.href='{:U('promotion_add',array('_k_v'=>$_GET['_k_v']))}'"/>
        <input type="button" class="admin_submit" id="ButDel" value="取消推广"/>
    </div>

    <div class="footso">
        <if condition="$Think.get._k_v eq ''">
            <form action="?" method="get">
                <div class="sobox">
                    <input type="hidden" name="m" value="{:C('admin_alias')}">
                    <input type="hidden" name="c" value="{:CONTROLLER_NAME}">
                    <input type="hidden" name="a" value="{:ACTION_NAME}">
                    <input name="key" type="text" class="sinput" value="{$Think.get.key}"/>
                    <input name="key_type" id="J_key_type_id" type="hidden" value="{$Think.get.key_type|default='1'}" />
                    <input name="key_type_cn" id="J_key_type_cn" type="hidden" value="{$Think.get.key_type_cn|default='简历名称'}"/>
                    <input name="" type="submit" value="" class="sobtn"/>
                    <div class="sotype" id="J_key_click">{$Think.get.key_type_cn|default='简历名称'}</div>
                    <div class="mlist" id="J_mlist">
                        <ul>
                            <li id="1" title="简历名称">简历名称</li>
                            <li id="2" title="简历ID">简历ID</li>
                            <li id="3" title="会员ID">会员ID</li>
                        </ul>
                    </div>
                </div>
            </form>
        </if>
    </div>
</div>
<div class="pages">{$page}</div>

</div>
<include file="public:footer"/>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        //点击批量取消推广
        $("#ButDel").click(function () {
            if (confirm('你确定要取消推广吗？')) {
                $("form[name=form1]").submit();
            }
        });
    });
</script>
</html>