<include file="public:header"/>

<div class="toptit">修改醒目标签</div>
<form action="{:U('tag_category_edit')}" method="post">
    <div class="form_main width150">
        <div class="fl">标签名称:</div>
        <div class="fr">
            <input name="name" type="text" class="input_text_default middle" maxlength="4" value="{$info.name}" />
            <label class="no-fl-note">(最多可填四个字)</label>
        </div>
        <div class="fl">排序:</div>
        <div class="fr">
            <input name="sort" type="text" class="input_text_default middle" maxlength="3" value="{$info['sort']}" onkeyup="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))"/> kb
            <label class="no-fl-note">(数字越大越靠前)</label>
        </div>
        <div class="fl"></div>
        <div class="fr">
            <input type="hidden" name="id" value="{$info['id']}">
            <input type="submit" class="admin_submit" value="保存修改"/>
            <input type="button" class="admin_submit" value="返回" onClick="history.go(-1)"/>
        </div>
        <div class="clear"></div>
    </div>
</form>

</div>
<include file="public:footer"/>
</body>
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
</html>