<include file="public:header"/>

<div class="seltpye_x">
    <div class="left">申请反馈</div>
    <div class="right">
        <a href="{:P(array('is_reply'=>'','personal_look'=>''))}" <if condition="$Think.get.is_reply eq '' AND $Think.get.personal_look eq ''">class="select"</if>>全部</a>
        <a href="{:P(array('is_reply'=>0,'personal_look'=>1))}" <if condition="$Think.get.is_reply eq 0 AND $Think.get.personal_look eq 1">class="select"</if>>企业未查看</a>
        <a href="{:P(array('is_reply'=>0,'personal_look'=>2))}" <if condition="$Think.get.is_reply eq 0 AND $Think.get.personal_look eq 2">class="select"</if>>待反馈</a>
        <a href="{:P(array('is_reply'=>1,'personal_look'=>2))}" <if condition="$Think.get.is_reply eq 1">class="select"</if>>合适</a>
        <a href="{:P(array('is_reply'=>2,'personal_look'=>2))}" <if condition="$Think.get.is_reply eq 2">class="select"</if>>不合适</a>
        <a href="{:P(array('is_reply'=>3,'personal_look'=>2))}" <if condition="$Think.get.is_reply eq 3">class="select"</if>>待定</a>
        <a href="{:P(array('is_reply'=>4,'personal_look'=>2))}" <if condition="$Think.get.is_reply eq 4">class="select"</if>>未接通</a>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="seltpye_x">
    <div class="left">申请时间</div>
    <div class="right">
        <a href="{:P(array('settr'=>''))}" <if condition="$Think.get.settr eq ''">class="select"</if>>不限</a>
        <a href="{:P(array('settr'=>'3'))}" <if condition="$Think.get.settr eq '3'">class="select"</if>>三天内</a>
        <a href="{:P(array('settr'=>'7'))}" <if condition="$Think.get.settr eq '7'">class="select"</if>>一周内</a>
        <a href="{:P(array('settr'=>'30'))}" <if condition="$Think.get.settr eq '30'">class="select"</if>>一月内</a>
        <a href="{:P(array('settr'=>'180'))}" <if condition="$Think.get.settr eq '180'">class="select"</if>>半年内</a>
        <a href="{:P(array('settr'=>'360'))}" <if condition="$Think.get.settr eq '360'">class="select"</if>>一年内</a>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<form id="form1" name="form1" method="post" action="{:U('user_apply_delete')}">
    <input name="_k_v" type="hidden" value="{$Think.get._k_v}">
    <div class="list_th">
        <div class="td" style=" width:20%;">
            <label id="chkAll" class="left_padding">
                <input type="checkbox" name="chkAll" id="chk" title="全选/反选"/>职位名称
            </label>
        </div>
        <div class="td center" style=" width:20%;">公司名称</div>
        <div class="td center" style=" width:20%;">简历名称</div>
        <div class="td center" style=" width:15%;">反馈状态</div>
        <div class="td center" style=" width:15%;">申请时间</div>
        <div class="td" style=" width:10%;">操作</div>
        <div class="clear"></div>
    </div>

    <volist name="list" id="vo">
        <div class="list_tr link_blue">
            <if condition="$vo['company_id']">
                <div class="td" style=" width:20%;">
                    <div class="left_padding striking">
                        <input name="did[]" type="checkbox" value="{$vo['did']}"/>
                        <a href="{$vo['jobs_url']}" target="_blank">{$vo['jobs_name']}</a>
                    </div>
                </div>
                <div class="td center" style=" width:20%;">
                    <a href="{$vo['company_url']}" target="_blank" title="{$vo['companyname']}">{$vo['companyname']}</a>
                </div>
                <div class="td center" style=" width:20%;">
                    <a href="{$vo['resume_url']}" target="_blank" title="{$vo['resume_name']}">{$vo['resume_name']}</a>
                </div>
                <div class="td center" style=" width: 15%;">
                    <if condition="$vo['personal_look'] eq 1">
                        企业未查看
                        <else/>
                        <switch name="vo['is_reply']">
                            <case value="0">待反馈</case>
                            <case value="1">合适</case>
                            <case value="2">不合适</case>
                            <case value="3">待定</case>
                            <case value="4">未接通</case>
                        </switch>
                    </if>
                </div>
                <div class="td center" style=" width:15%;">{:admin_date($vo['apply_addtime'])}</div>
                <div class="td edit" style=" width:10%;">
                    <a href="{:U('user_apply_delete',array('did'=>$vo['did'],'_k_v'=>$_GET['_k_v']))}" onclick="return confirm('你确定要删除吗？')" class="gray">删除</a>
                </div>
            <else/>
                <div class="td" style=" width:20%;">
                    <div class="left_padding striking">
                        <input name="did[]" type="checkbox" value="{$vo['did']}"  />
                        该职位不存在或已被删除
                    </div>
                </div>
            </if>
            <div class="clear"></div>
        </div>
    </volist>
</form>

<empty name="list">
    <div class="list_empty">没有任何信息！</div>
</empty>

<div class="list_foot">
    <div class="btnbox">
        <input type="button" class="admin_submit" id="ButDel" value="删除所选"/>
        <input type="button" class="admin_submit" value="返回" onclick="window.location='{:U('Personal/member_list')}'"/>
    </div>

    <div class="footso">
        <form action="?" method="get">
            <div class="sobox">
                <input type="hidden" name="m" value="{:C('admin_alias')}">
                <input type="hidden" name="c" value="{:CONTROLLER_NAME}">
                <input type="hidden" name="a" value="{:ACTION_NAME}">
                <input type="hidden" name="uid" value="{$Think.get.uid}">
                <input type="hidden" name="_k_v" value="{$Think.get._k_v}">
                <input name="key" type="text" class="sinput" value="{$Think.get.key}"/>
                <input name="key_type" id="J_key_type_id" type="hidden" value="{$Think.get.key_type|default='1'}" />
                <input name="key_type_cn" id="J_key_type_cn" type="hidden" value="{$Think.get.key_type_cn|default='职位名称'}"/>
                <input name="" type="submit" value="" class="sobtn"/>
                <div class="sotype" id="J_key_click">{$Think.get.key_type_cn|default='职位名称'}</div>
                <div class="mlist" id="J_mlist">
                    <ul>
                        <li id="1" title="职位名称">职位名称</li>
                        <li id="2" title="职位ID">职位ID</li>
                        <li id="3" title="公司名称">公司名称</li>
                        <li id="4" title="公司ID">公司ID</li>
                        <li id="5" title="简历名称">简历名称</li>
                        <li id="6" title="简历ID">简历ID</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="pages">{$page}</div>

</div>
<include file="public:footer"/>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        //点击批量删除
        $("#ButDel").click(function(){
            if (confirm('你确定要删除吗？'))
            {
                $("form[name=form1]").submit()
            }
        });
    });
</script>
</html>