<div class="batch_delivery">
    <div class="result_info icon2">
        <div class="top_txt">该公司要求简历完整度达到 <strong>{:C('qscms_apply_job_min_percent')}%</strong> 才能申请！</div>
    </div>
    <div class="clear"></div>
    <div class="tips_info">您的简历完整度只有 <strong>{$info.percent}%</strong>，会极大影响求职成功率哦~</div>
    <!--<div class="txt_center">
        <div class="tabs_group">
            <a href="{:U('Personal/resume_edit',array('pid'=>$info['id']))}" class="tab_box"><span class="txt">完善简历</span></a>
            <a href="{:U('Personal/index')}" class="tab_box"><span class="txt icon2">会员中心</span></a>
            <div class="clear"></div>
        </div>
    </div>-->
</div>