<include file="public:header" />
	<div class="toptip">
    	<div class="toptit">提示：</div>
		<p>您确定要卸载 “<strong>{$apply.module_name}</strong>” ，版本号为<strong>[{$apply.version}]</strong>,请慎重操作！</p>
	</div>
	<div class="toptit">应用详情</div>
	<table width="800"  border="0" cellpadding="2" cellspacing="2"  class="apply_show" style="margin-bottom:15px;padding-left: 10px;" >
		<tr>
			<td width="80" align="center">
				<img src="{$apply.ico}" border="0" width="58" height="58">
			</td>
			<td style="line-height:230%;color:#999999" class="J_mod" m="{$apply.alias}" v="{$apply.version}">
			<strong style="color: #0066CC; font-size:14px; padding-right:10px;">{$apply.module_name}</strong>（{$apply.alias}）&nbsp;&nbsp;&nbsp;
			<span class="J_v">版本：{$apply.version}</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span class="J_t">更新时间：{$apply['update_time']}</span><br />
		{$apply.explain}
		  </td>
		</tr>
	</table>
	<!--点击安装按钮显示下方，卸载相同 -->
	<form id="J_install_form" action="{:U('apply/unload')}" method="post" style="display:none;padding-left: 40px;">
		<div class="toptit">卸载进程</div>
		<div id="J_process" style="padding:20px; padding-top:10px; height:160px;overflow:auto;margin-bottom: 10px;"></div>
		<input name="mod" value="{$apply.alias}" type="hidden">
		<iframe src="about:blank" style="width:500px; height:300px;display:none;" name="post_target"></iframe>
	</form>
	<table width="100%" border="0" cellspacing="10"  class="admin_list_btm" style="padding-left: 20px;">
		<tr id="J_run">
			<td>
				<input name="ButADD" type="button" class="admin_submit" value="开始卸载" onclick="setup();"/>
				<input name="ButADD" type="button" class="admin_submit" id="ButADD" value="返回"  onclick="window.location='{:U('apply/index')}'"/>
			</td>
		</tr>
		<tr id="J_end" style="display:none">
			<td>
				<input name="ButADD" type="button" class="admin_submit" id="ButADD" value="卸载完成"  onclick="window.location='{:U('apply/index')}'"/>
			</td>
		</tr>
	</table>
</div>
<include file="public:footer" />
<script>
	function setup(){
		$('#J_install_form').show().attr('target','post_target');
	    $('#J_install_form').submit();
	    $('#J_run').hide();
	}
	function show_process(html){
	    $('#J_process').html($('#J_process').html() + html);
	    var _t = $('#J_process').get(0);
	    _t.scrollTop = _t.scrollHeight;
	}
	function install_failure(){
	    $('#J_run').show();
	}
	function install_successed(){
	    $('#J_end').show();
	}
	function callback(a){
	    $.each(a.data,function(k,v){
			var version = $('.J_mod[m="'+k+'"]').attr('v');
			if(v.version && version != v.version){
				v.update_time = v.update_time ? v.update_time : '未发布';
				$('.J_mod[m="'+k+'"] .J_v').after('<a href="https://www.74cms.com/app/lists.html" class="newsv">有新版</a>');
				$('.J_mod[m="'+k+'"] .J_t').html('更新时间：'+v.update_time);
			}
	    });
	}
</script>
<script src="https://www.74cms.com/plus/check_module.php?module_name={$apply.alias}" language="javascript"></script>
</body>
</html>