<include file="public:header"/>
<div class="toptip">
    <div class="toptit">提示：</div>
    <p>不同的运营阶段您可以选择不同的设置。</p>
</div>
<div class="toptit">基本设置</div>
<form id="form1" action="{:U('index')}" method="post">
    <div class="form_main width200">
        <div class="fl">上传营业执照文件限制:</div>
        <div class="fr">
            <input name="certificate_max_size" type="text" class="input_text_default middle" maxlength="10" value="{:C('qscms_certificate_max_size')}" onkeyup="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))"/> kb
        </div>
        <div class="fl">企业LOGO文件限制:</div>
        <div class="fr">
            <input name="logo_max_size" type="text" class="input_text_default middle" maxlength="10" value="{:C('qscms_logo_max_size')}" onkeyup="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))"/> kb
        </div>
        <div class="fl">职位列表数最大值:</div>
        <div class="fr">
            <input name="jobs_list_max" type="text" class="input_text_default middle" maxlength="10" value="{:C('qscms_jobs_list_max')}" onkeyup="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))"/> 条
        </div>
        <div class="fl">是否开启订单发票:</div>
        <div class="fr">
            <div data-code="0,1" class="imgchecked_small <eq name='Think.config.qscms_open_invoice' value='1'>select</eq>"><input name="open_invoice" type="hidden" value="{:C('qscms_open_invoice')}" /></div>
            <div class="clear"></div>
        </div>
        <div class="fl">申请发票的订单最小金额:</div>
        <div class="fr">
            <input name="invoice_cash_min" type="text" class="input_text_default middle" maxlength="10" value="{:C('qscms_invoice_cash_min')}" onkeyup="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))"/> 元
        </div>
        <div class="fl"></div>
        <div class="fr">
            <input type="button" class="admin_submit" value="保存修改" id="J_submit1"/>
            <input type="button" class="admin_submit" value="返回" onClick="history.go(-1)"/>
        </div>
        <div class="clear"></div>
    </div>
</form>

<div class="toptit">显示设置</div>
<form id="form2" action="{:U('index')}" method="post">
    <div class="form_main width200">
        <div class="fl">职位显示:</div>
        <div class="fr">
            <div class="imgradio">
                <input name="jobs_display" type="hidden" value="{:C('qscms_jobs_display')}">
                <div class="radio <eq name='Think.config.qscms_jobs_display' value='1'>select</eq>" data="1" title="先审核再显示">先审核再显示</div>
                <div class="radio <eq name='Think.config.qscms_jobs_display' value='2'>select</eq>" data="2" title="先显示再审核">先显示再审核</div>
                <label class="note-radio">（先显示后审核可提高用户体验和程序执行效率)</label>
                <div class="clear"></div>
            </div>
        </div>
        <div class="fl">企业风采图片:</div>
        <div class="fr">
            <div class="imgradio">
                <input name="companyimg_display" type="hidden" value="{:C('qscms_companyimg_display')}">
                <div class="radio <eq name='Think.config.qscms_companyimg_display' value='1'>select</eq>" data="1" title="先审核再显示">先审核再显示</div>
                <div class="radio <eq name='Think.config.qscms_companyimg_display' value='2'>select</eq>" data="2" title="先显示再审核">先显示再审核</div>
                <label class="note-radio">（先显示后审核可提高用户体验和程序执行效率)</label>
                <div class="clear"></div>
            </div>
        </div>
        <div class="fl">职位列表默认显示方式:</div>
        <div class="fr">
            <div class="imgradio">
                <input name="jobs_list_show_type" type="hidden" value="{:C('qscms_jobs_list_show_type')}">
                <div class="radio <if condition="C('qscms_jobs_list_show_type') eq 1">select</if>" data="1" title="详细">详细</div>
                <div class="radio <if condition="C('qscms_jobs_list_show_type') eq 2">select</if>" data="2" title="列表">列表</div>
                <label class="note-radio">（职位搜索页，职位显示方式)</label>
                <div class="clear"></div>
            </div>
        </div>
        <div class="fl"></div>
        <div class="fr">
            <input type="button" class="admin_submit" value="保存修改" id="J_submit2"/>
            <input type="button" class="admin_submit" value="返回" onClick="history.go(-1)"/>
        </div>
        <div class="clear"></div>
    </div>
</form>

<div class="toptit">查看联系方式设置</div>
<form id="form3" action="{:U('index')}" method="post">
    <div class="form_main width200">
        <div class="fl">web端允许查看联系方式:</div>
        <div class="fr">
            <div class="imgradio">
                <input name="showjobcontact" type="hidden" value="{:C('qscms_showjobcontact')}">
                <div class="radio <eq name='Think.config.qscms_showjobcontact' value='0'>select</eq>" data="0" title="游客">游客</div>
                <div class="radio <eq name='Think.config.qscms_showjobcontact' value='1'>select</eq>" data="1" title="已登录">已登录</div>
                <div class="radio <eq name='Think.config.qscms_showjobcontact' value='2'>select</eq>" data="2" title="已登录有简历">已登录有简历</div>
                <div class="radio <eq name='Think.config.qscms_showjobcontact' value='3'>select</eq>" data="3" title="投递后显示">投递后显示</div>
                <div class="radio <eq name='Think.config.qscms_showjobcontact' value='4'>select</eq>" data="4" title="微信扫码获取">微信扫码获取</div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="fl">移动端允许查看联系方式:</div>
        <div class="fr">
            <div class="imgradio">
                <input name="showjobcontact_wap" type="hidden" value="{:C('qscms_showjobcontact_wap')}">
                <div class="radio <eq name='Think.config.qscms_showjobcontact_wap' value='0'>select</eq>" data="0" title="游客">游客</div>
                <div class="radio <eq name='Think.config.qscms_showjobcontact_wap' value='1'>select</eq>" data="1" title="已登录">已登录</div>
                <div class="radio <eq name='Think.config.qscms_showjobcontact_wap' value='2'>select</eq>" data="2" title="已登录有简历">已登录有简历</div>
                <div class="radio <eq name='Think.config.qscms_showjobcontact_wap' value='3'>select</eq>" data="3" title="投递后显示">投递后显示</div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="fl"></div>
        <div class="fr">
            <input type="button" class="admin_submit" value="保存修改" id="J_submit3"/>
            <input type="button" class="admin_submit" value="返回" onClick="history.go(-1)"/>
        </div>
        <div class="clear"></div>
    </div>
</form>

<div class="toptit">企业联系方式设置<span style="color: #999999; font-size: 12px;">（图形化需要将中文字体文件上传到data/contactimgfont/，字体文件命名为“cn.ttc”)</span></div>
<form id="form4" action="{:U('index')}" method="post">
    <div class="form_main width200">
        <div class="fl">展示方式:</div>
        <div class="fr">
            <div class="imgradio">
                <input name="contact_img_com" type="hidden" value="{:C('qscms_contact_img_com')}">
                <div class="radio <eq name='Think.config.qscms_contact_img_com' value='1'>select</eq>" data="1" title="文字">文字</div>
                <div class="radio <eq name='Think.config.qscms_contact_img_com' value='2'>select</eq>" data="2" title="图形化">图形化</div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="fl"></div>
        <div class="fr">
            <input type="button" class="admin_submit" value="保存修改" id="J_submit4"/>
            <input type="button" class="admin_submit" value="返回" onClick="history.go(-1)"/>
        </div>
        <div class="clear"></div>
    </div>
</form>

<div class="toptit">其他设置</div>
<form id="form5" action="{:U('index')}" method="post">
    <div class="form_main width200">
        <div class="fl">刷新职位时间间隔:</div>
        <div class="fr">
            <input name="refresh_jobs_space" type="text" class="input_text_default middle" maxlength="10" value="{:C('qscms_refresh_jobs_space')}" onkeyup="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))"/> 分钟
            <label class="no-fl-note">(0表示不限制)</label>
        </div>
        <div class="fl">申请同一职位时间间隔:</div>
        <div class="fr">
            <input name="apply_jobs_space" type="text" class="input_text_default middle" maxlength="10" value="{:C('qscms_apply_jobs_space')}" onkeyup="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))"/>天
            <label class="no-fl-note">(0表示不限制)</label>
        </div>
        <div class="fl">允许公司名称重复:</div>
        <div class="fr">
            <div data-code="0,1" class="imgchecked_small <eq name='Think.config.qscms_company_repeat' value='1'>select</eq>"><input name="company_repeat" type="hidden" value="{:C('qscms_company_repeat')}" /></div>
            <div class="clear"></div>
        </div>
        <div class="fl">会员短信费用承担方:</div>
        <div class="fr">
            <div class="imgradio">
                <input name="company_sms" type="hidden" value="{:C('qscms_company_sms')}">
                <div class="radio <eq name='Think.config.qscms_company_sms' value='1'>select</eq>" data="1" title="企业承担">企业承担</div>
                <div class="radio <eq name='Think.config.qscms_company_sms' value='0'>select</eq>" data="0" title="运营者承担">运营者承担</div>
                <label class="note-radio">（如设置为企业承担，则企业需要在增值服务区购买短信包才能发送各种短信提醒）</label>
                <div class="clear"></div>
            </div>
        </div>
        <div class="fl"></div>
        <div class="fr">
            <input type="button" class="admin_submit" value="保存修改" id="J_submit5"/>
            <input type="button" class="admin_submit" value="返回" onClick="history.go(-1)"/>
        </div>
        <div class="clear"></div>
    </div>
</form>

</div>
<include file="public:footer"/>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#J_submit1').click(function(){
            var that = $(this);
            if(that.hasClass('disabled')){
                return false;
            }
            that.val('正在保存...').addClass('disabled');
            $.post("{:U('index')}",$('#form1').serialize(),function(result){
                if(result.status==1){
                    disapperTooltip("success", result.msg,function(){
                        location.reload();
                    });
                }else{
                    disapperTooltip("remind", result.msg,function(){
                        that.val('保存').removeClass('disabled');
                    });
                    return false;
                }
            },'json');
        });
        $('#J_submit2').click(function(){
            var that = $(this);
            if(that.hasClass('disabled')){
                return false;
            }
            that.val('正在保存...').addClass('disabled');
            $.post("{:U('index')}",$('#form2').serialize(),function(result){
                if(result.status==1){
                    disapperTooltip("success", result.msg,function(){
                        location.reload();
                    });
                }else{
                    disapperTooltip("remind", result.msg,function(){
                        that.val('保存').removeClass('disabled');
                    });
                    return false;
                }
            },'json');
        });
        $('#J_submit3').click(function(){
            var that = $(this);
            if(that.hasClass('disabled')){
                return false;
            }
            that.val('正在保存...').addClass('disabled');
            $.post("{:U('index')}",$('#form3').serialize(),function(result){
                if(result.status==1){
                    disapperTooltip("success", result.msg,function(){
                        location.reload();
                    });
                }else{
                    disapperTooltip("remind", result.msg,function(){
                        that.val('保存').removeClass('disabled');
                    });
                    return false;
                }
            },'json');
        });
        $('#J_submit4').click(function(){
            var that = $(this);
            if(that.hasClass('disabled')){
                return false;
            }
            that.val('正在保存...').addClass('disabled');
            $.post("{:U('index')}",$('#form4').serialize(),function(result){
                if(result.status==1){
                    disapperTooltip("success", result.msg,function(){
                        location.reload();
                    });
                }else{
                    disapperTooltip("remind", result.msg,function(){
                        that.val('保存').removeClass('disabled');
                    });
                    return false;
                }
            },'json');
        });
        $('#J_submit5').click(function(){
            var that = $(this);
            if(that.hasClass('disabled')){
                return false;
            }
            that.val('正在保存...').addClass('disabled');
            $.post("{:U('index')}",$('#form5').serialize(),function(result){
                if(result.status==1){
                    disapperTooltip("success", result.msg,function(){
                        location.reload();
                    });
                }else{
                    disapperTooltip("remind", result.msg,function(){
                        that.val('保存').removeClass('disabled');
                    });
                    return false;
                }
            },'json');
        });
    });
</script>
</html>