<include file="public:header"/>
<div class="toptip">
    <div class="toptit">提示：</div>
    <p>快捷消费是指企业会员没有购买套餐或者服务到期的引导消费。</p>
</div>
<div class="toptit">快捷消费设置</div>
<form id="form1" action="{:U('set_quick')}" method="post">
    <div class="form_main width200">
        <div class="fl">下载简历快捷消费:</div>
        <div class="fr">
            <div data-code="0,1" class="imgchecked_small <eq name='Think.config.qscms_resume_download_quick' value='1'>select</eq>"><input name="resume_download_quick" type="hidden" value="{:C('qscms_resume_download_quick')}" /></div>
            <div class="note">(如选“关闭”，则只允许使用套餐内简历数，不可使用现金、积分和购买简历增值包)</div>
            <div class="clear"></div>
        </div>
        <div class="fl">下载简历单价:</div>
        <div class="fr">
            <input name="download_resume_price" type="text" class="input_text_default small" maxlength="10" value="{:C('qscms_download_resume_price')}" /> 元
            <span class="no-fl-note">(充值人民币与积分兑换比例，在购买服务时积分抵扣现金也是此比例)</span>
        </div>
        <div class="fl">下载简历是否可使用积分:</div>
        <div class="fr">
            <div data-code="0,1" class="imgchecked_small <eq name='Think.config.qscms_down_resume_by_points' value='1'>select</eq>"><input name="down_resume_by_points" type="hidden" value="{:C('qscms_down_resume_by_points')}" /></div>
            <div class="note">(如选“否”，则只允许使用现金)</div>
            <div class="clear"></div>
        </div>
        <div class="fl">刷新职位单价:</div>
        <div class="fr">
            <input name="refresh_jobs_price" type="text" class="input_text_default small" maxlength="10" value="{:C('qscms_refresh_jobs_price')}" /> 元
        </div>
        <div class="fl">刷新职位是否可使用积分:</div>
        <div class="fr">
            <div data-code="0,1" class="imgchecked_small <eq name='Think.config.qscms_refresh_jobs_by_points' value='1'>select</eq>"><input name="refresh_jobs_by_points" type="hidden" value="{:C('qscms_refresh_jobs_by_points')}" /></div>
            <div class="note">(如选“否”，则只允许使用现金)</div>
            <div class="clear"></div>
        </div>
        <div class="fl"></div>
        <div class="fr">
            <input type="button" class="admin_submit" value="保存修改" id="J_submit"/>
            <input type="button" class="admin_submit" value="返回" onClick="history.go(-1)"/>
        </div>
        <div class="clear"></div>
    </div>
</form>

</div>
<include file="public:footer"/>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#J_submit').click(function(){
            var that = $(this);
            if(that.hasClass('disabled')){
                return false;
            }
            that.val('正在保存...').addClass('disabled');
            $.post("{:U('set_quick')}",$('#form1').serialize(),function(result){
                if(result.status==1){
                    disapperTooltip("success", result.msg,function(){
                        location.reload();
                    });
                }else{
                    disapperTooltip("remind", result.msg,function(){
                        that.val('保存').removeClass('disabled');
                    });
                    return false;
                }
            },'json');
        });
    });
</script>
</html>