<include file="public:header"/>
<div class="toptip">
    <div class="toptit">提示：</div>
    <p>系统将自动取消到期的企业推广。</p>
</div>
<div class="toptit">新增职位推广</div>
<form action="{:U('add')}" method="post" name="FormData">
    <div style="padding: 0 20px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="380" valign="top">
                    <table width="100%" border="0" cellpadding="10" cellspacing="0" bgcolor="#F5F7F8"
                           style="border-bottom:1px #DFDFDF solid;border-top:1px #DFDFDF solid;border-left:1px #DFDFDF solid;">
                        <tr>
                            <td height="32" align="right">请输入职位ID：</td>
                            <td width="215">
                                <input type="text" class="input_text_default small" id="get_id" maxlength="25"/>
                            </td>
                        </tr>
                        <tr>
                            <td height="32" align="right">或职位名称：</td>
                            <td>
                                <input type="text" class="input_text_default small" id="get_jobname" maxlength="25"/>
                            </td>
                        </tr>
                        <tr>
                            <td height="32" align="right">或企业名称：</td>
                            <td >
                                <input type="text" class="input_text_default small" id="get_comname" maxlength="25"/>
                            </td>
                        </tr>
                        <tr>
                            <td height="32" align="right">或会员UID：</td>
                            <td>
                                <input type="text" class="input_text_default small" id="get_uid" maxlength="25"/>
                            </td>
                        </tr>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="10">
                        <tr>
                            <td height="35" align="right">推广期限(天)：</td>
                            <td><input name="cp_days" id="days" type="text" class="input_text_default small" maxlength="3"/>
                            </td>
                        </tr>
                        <tr>
                            <td height="35" align="right">推广方案：</td>
                            <td width="215">
                                <div class="select_input_new w200 J_hoverinput J_dropdown J_listitme_parent">
                                    <span class="J_listitme_text">请选择推广方案</span>
                                    <div class="dropdowbox_sn J_dropdown_menu">
                                        <div class="dropdow_inner_sn">
                                            <ul class="nav_box">
                                                <li><a class="J_listitme J_type" href="javascript:;" data-code="stick">职位置顶</a></li>
                                                <li><a class="J_listitme J_type" href="javascript:;" data-code="emergency">职位紧急</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <input class="J_listitme_code" name="cp_ptype" id="cp_ptype" type="hidden" value="" />
                                </div>
                                <!-- <select name="cp_ptype" id="cp_ptype">
                                    <option value="-1">请选择推广方案</option>
                                    <option value="stick">职位置顶</option>
                                    <option value="emergency">职位紧急</option>
                                </select> -->
                            </td>
                        </tr>
                        <tr>
                            <td height="35" align="right">&nbsp;</td>
                            <td height="60">
                                <input type="button" class="admin_submit" id="BtnAdd" value="确定"/>
                                <input type="button" class="admin_submit" value="返回" onclick="Javascript:window.history.go(-1)"/>
                            </td>
                        </tr>
                        <tr>
                            <td height="35" align="right">&nbsp;</td>
                            <td height="60">&nbsp;</td>
                        </tr>
                    </table>

                </td>
                <td valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="border:1px #DFDFDF solid; height:256px;" id="showtd" bgcolor="#FFFFFF" valign="top">
                                <div style="padding:20px; color: #0066CC">请在左侧表单中输入你要查找的值。</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</form>

</div>
<include file="public:footer"/>
<script type="text/javascript" src="__ADMINPUBLIC__/js/jquery.listitem.js"></script>
<script type="text/javascript" src="__ADMINPUBLIC__/js/jquery.dropdown.js"></script>
</body>
<script type="text/javascript">
    $(document).ready(function () {

        $("#get_id,#get_jobname,#get_comname,#get_uid").keyup(function () {
            if ($(this).val()) {
                var tsTimeStamp = new Date().getTime();
                $.get("{:U('ajax_get_jobs')}", {
                            "tstime": tsTimeStamp,
                            "key": $(this).val(),
                            "type": $(this).attr("id")
                        },
                        function (data) {
                            if (data) {
                                html = "<table width=\"100%\" border=\"0\" cellpadding=\"10\" cellspacing=\"0\" style=\"margin-bottom:10px;\" class=\"link_blue\">";
                                html += "<tr style=\"color: #333333;\" bgcolor=\"#F5F7F8\">";
                                html += "<td width=\"25%\" height=\"30\">&nbsp;&nbsp;<strong>职位名称<\/strong><\/td>";
                                html += "<td><strong>公司名称<\/strong><\/td>";
                                html += "<td width=\"13%\" align=\"center\"><strong>发布时间<\/strong><\/td>";
                                html += "<td width=\"13%\" align=\"center\"><strong>到期时间<\/strong><\/td>";
                                html += "<td width=\"13%\" align=\"center\"><strong>刷新时间<\/strong><\/td>";
                                html += "<\/tr>";
                                var str = data.split("@@@");
                                var i = 1;
                                for (x in str) {
                                    var val = str[x].split("%%%");
                                    html += "<tr>";
                                    html += "<td height=\"30\" style=\"border-bottom:1px #DFDFDF dashed\" >&nbsp;";
                                    html += "<label>";
                                    html += "<input type=\"radio\" class=\"cp_jobid\" name=\"cp_jobid\" value=\"" + val[0] + "\" data=\"" + val[8] + "\" \/>";
                                    html += "<\/label>";
                                    html += "<a href=\"" + val[2] + "\" target=\"_blank\">" + val[1] + "<\/a><\/td>";
                                    html += "<td  style=\"border-bottom:1px #DFDFDF dashed\"><a href=\"" + val[4] + "\" target=\"_blank\">" + val[3] + "<\/a><\/td>";
                                    html += "<td align=\"center\"  style=\"border-bottom:1px #DFDFDF dashed\">" + val[5] + "<\/td>";
                                    html += "<td align=\"center\"  style=\"border-bottom:1px #DFDFDF dashed\">" + val[6] + "<\/td>";
                                    html += "<td align=\"center\"  style=\"border-bottom:1px #DFDFDF dashed\">" + val[7] + "<\/td>";
                                    html += "<\/tr>";
                                    i++;
                                }
                                html += "<\/table>";
                                $("#showtd").html(html);
                            }
                            else {
                                html = "<div style=\"padding:20px; color:#0066CC\">没有找到对应的职位。</div>";
                                $("#showtd").html(html);
                            }
                        })
            }
        });
        //点击提交
        $("#BtnAdd").live('click', function () {
            var job_id = $("input[name='cp_jobid']:checked");
            if (job_id.length == 0) {
                disapperTooltip('remind',"请选择要推广的职位！");
                return false;
            }
            if ($("#days").val() == "") {
                disapperTooltip('remind',"请填写推广天数！");
                $("#days").focus();
                return false;
            }
            if ($("#cp_ptype").val() == '') {
                disapperTooltip('remind',"请选择推广方案！");
                return false;
            }
            $("form[name='FormData']").submit();
        });
    });
</script>
</html>