<include file="public:header" />
<div class="toptip">
    <div class="toptit">提示：</div>
    <p>系统默认使用“原始URL链接”进行访问，如需使用其它伪静态规则，请确保服务器正常开启伪静态服务！</p>
    <p>并且“./74cms40new/Application/Common/Conf/url.php”文件有可读写权限！</p>
    <p class="link_green_line">骑士人才系统支持多种URL样式，无论您是<strong>asp , aspx , jsp ，shtml , ......</strong>程序都可以完美转换为骑士系统，且URL可以保持不变，具体请咨询<a href="http://www.74cms.com" target="_blank">骑士客服</a></p>
</div>
<div class="list_th">
    <div class="td" style="width:42%;"><label class="left_padding">规则名称</label></div>
    <div class="td center" style="width:10%;">版本号</div>
    <div class="td center" style="width:15%;">更新时间</div>
    <div class="td center" style="width:10%;">作者</div>
    <div class="td center" style="width:10%;">&nbsp;</div>
    <div class="td center" style=" width:13%;">操作</div>
    <div class="clear"></div>
</div>
<div class="list_tr link_black">
	<div class="td" style="width:42%;"><label class="left_padding">{$normal.name}</label></div>
    <div class="td center" style="width:10%;">{$normal.versions}</div>
    <div class="td center" style="width:15%;">{$normal.update_time}</div>
    <div class="td center" style="width:10%;">{$normal.author}</div>
    <div class="td center" style="width:10%;"><if condition="C('qscms_rewrite_type') eq $normal['alias']">使用中<else/>&nbsp;</if></div>
    <div class="td center edit" style=" width:13%;">
    	<if condition="C('qscms_rewrite_type') neq $normal['alias']">
			<a href="{:U('page/rewrite_set',array('type'=>$normal['alias']))}">应用</a>
			<else/>
			<a href="javascript:;" class="gray">应用</a>
		</if>
    </div>
    <div class="clear"></div>
</div>
<volist name="list" id="list">
	<div class="list_tr link_black">
		<div class="td" style="width:42%;"><label class="left_padding">{$list.name}</label></div>
	    <div class="td center" style="width:10%;">{$list.versions}</div>
	    <div class="td center" style="width:15%;">{$list.update_time}</div>
	    <div class="td center" style="width:10%;">{$list.author}</div>
	    <div class="td center" style="width:10%;"><if condition="C('qscms_rewrite_type') eq $list['alias']">使用中<else/>&nbsp;</if></div>
	    <div class="td center edit" style=" width:13%;">
	    	<a href="{:U('page/rewrite_details',array('type'=>$list['filename']))}">详情</a>
			<if condition="C('qscms_rewrite_type') neq $list['alias']">
				<a href="{:U('page/rewrite_set',array('type'=>$list['filename']))}" onclick="return confirm('请确保服务器正常开启伪静态服务！')">应用</a>
			</if>
			<if condition="$list['alias'] neq 'default'">
				<a href="{:U('page/rewrite_delete',array('type'=>$list['filename']))}" class="gray" onclick="return confirm('你确定要删除吗？')">删除</a>
			</if>
	    </div>
	    <div class="clear"></div>
	</div>
</volist>
</div>
<include file="public:footer" />
</body>
</html>