<div id="J_passwordWrap" class="modify_user_dialog">
	<div class="tip">
        帐号密码修改成功后，请记住新密码以便下次登录时使用！
    </div>
	<div class="content">
		<!-- <div class="td1"><span class="asterisk"></span>&nbsp;原密码：</div> -->
		<!-- <div class="td2"> -->
            <!-- <input type="password" value="" class="input_245_34" name="oldpassword" placeholder="请输入现有密码" autocomplete="off" /> -->
        <!-- </div> -->
		<!-- <div class="clear"></div>   **************chm  注释-->
		<div class="td1"><span class="asterisk"></span>&nbsp;新密码：</div>
		<div class="td2">
			<input type="password" value="" class="input_245_34" name="password" placeholder="请输入6-16个字符" autocomplete="off" />
		</div>
		<div class="clear"></div>
        <div class="td1"><span class="asterisk"></span>&nbsp;确认密码：</div>
        <div class="td2">
            <input type="password" value="" class="input_245_34" name="password1" placeholder="请再次输入密码" autocomplete="off" />
        </div>
        <div class="clear"></div>
	</div>
</div>