<div class="modify_user_dialog">
	<div class="tip">
		用户名修改成功后，原用户名将无法继续登录！
	</div>
	<div class="content">
		<div class="td1"><span class="asterisk"></span>&nbsp;原用户名：</div>
		<div class="td2 p"><strong>{$visitor.username}</strong></div>
		<div class="clear"></div>
		<div class="td1"><span class="asterisk"></span>&nbsp;新用户名：</div>
		<div class="td2">
			<input id="J_usernameInput" type="text" value="" class="input_245_34" name="username" placeholder="请输入6-18个字符">
		</div>
		<div class="clear"></div>
	</div>
</div>