<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<include file="public:meta" />
	<link href="../public/css/members/common.css" rel="stylesheet" type="text/css" />
	<script src="../public/js/members/jquery.common.js" type="text/javascript" language="javascript"></script>
</head>
<body>
<include file="header" />
<div class="find_pwd">
	<div class="step s3"></div>
	<div class="steptxt">
	  	<div class="tli font_blue">1.验证账号信息</div>
		<div class="tli font_blue">2.设置新密码</div>
		<div class="tli font_blue">3.找回成功</div>
	    <div class="clear"></div>
	</div>
	<div class="rl J_focus">
		<div class="find_ok">
			<h3>重置密码成功</h3>下次登录请使用新密码登录
		</div>
	    <div class="btnbox">
			<input name="" type="submit" value="立即登录" class="btn_reg J_hoverbut" onclick="window.location='{:U('members/login')}'" />
		</div>
	</div>
</div>
<!--下方阴影 -->
<div class="find_pwd_bg">
	<div class="bl"></div>
	<div class="br"></div>
	<div class="clear"></div>
</div>
<include file="public:footer_min" />
</body>
</html>